@{
    ViewData["Title"] = "Home Page";
}
@section Style{
    <style>
        .cssbuttons-io-button {
            background: #198754;
            color: white;
            font-family: inherit;
            padding: 0.35em;
            padding-left: 1.2em;
            font-size: 17px;
            font-weight: 500;
            border-radius: 0.9em;
            border: none;
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            box-shadow: inset 0 0 1.6em -0.6em #714da6;
            overflow: hidden;
            position: relative;
            height: 2.8em;
            padding-right: 3.3em;
            cursor: pointer;
        }

            .cssbuttons-io-button .icon {
                background: white;
                margin-left: 1em;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 2.2em;
                width: 2.2em;
                border-radius: 0.7em;
                box-shadow: 0.1em 0.1em 0.6em 0.2em #198754;
                right: 0.3em;
                transition: all 0.3s;
            }

            .cssbuttons-io-button:hover .icon {
                width: calc(100% - 0.6em);
            }

            .cssbuttons-io-button .icon svg {
                width: 1.1em;
                transition: transform 0.3s;
                color: #198754;
            }

            .cssbuttons-io-button:hover .icon svg {
                transform: translateX(0.1em);
            }

            .cssbuttons-io-button:active .icon {
                transform: scale(0.95);
            }

    </style>
}
<div class="container-fluid bg-primary hero-header mb-5">
    <div class="container" style="width=100vw">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 text-center text-lg-start">
                <h3 class="fw-light text-white animated slideInRight">Scholar's Haven</h3>
                <h1 class="display-4 text-white animated slideInRight">Your <span class="fw-light text-dark">One-Stop Shop</span> for Educational Supplies</h1>
                <p class="text-white mb-4 animated slideInRight">
                    Welcome to our store specializing in educational supplies! We offer top-quality tools to fuel your learning journey. From notebooks and pens to boards and measuring instruments, we provide a diverse range of reliable products to meet all your study needs. Explore today and embark on your path to knowledge!
                </p>
                <form asp-action="Shop" asp-controller="Product" class="text-center">
                    <button class="cssbuttons-io-button" type="submit">
                        Get started
                        <div class="icon">
                            <svg height="24"
                                 width="24"
                                 viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                                      fill="currentColor"></path>
                            </svg>
                        </div>
                    </button>
                </form>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid animated pulse infinite" src="img/shampoo.png" alt="">
            </div>
        </div>
    </div>
</div>

